# Main compose file defining the autodarts extensions

services:
  darts-caller:
    image: lbormann/darts-caller
    container_name: darts-caller
    restart: unless-stopped
# Will not be exposed if using proxy
    ports:
      - "8079:8079"
    env_file:
      - caller_secrets.env
      - caller_settings.env
    volumes:
    - ./darts-caller:/usr/share/darts-caller
      