version: '3.8'

services:
  proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    volumes:
      - ./proxy/data:/data
      - ./proxy/letsencrypt:/etc/letsencrypt
  darts-caller:
    image: lbormann/darts-caller
    container_name: darts-caller
    restart: unless-stopped
# Will be exposed by the proxy:
#    ports:
# Only needed for local playback, not available on macOS
#    devices:
#    - /dev/snd:/dev/snd
    env_file:
      - caller_secrets_test.env
      - caller_settings.env
    volumes:
    - ./darts-caller:/usr/share/darts-caller
  darts-wled:
    depends_on:
      - darts-caller
    image: creaaz/darts-wled
    container_name: darts-wled
    restart: unless-stopped
    env_file:
      - wled_settings.env
      